<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Landrick - Bootstrap 5 Multipurpose App, Saas & Software Landing & Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premium Bootstrap 5 Landing Page Template" />
    <meta name="keywords" content="Saas, Software, multi-uses, HTML, Clean, Modern" />
    <meta name="author" content="Shreethemes" />
    <meta name="email" content="support@shreethemes.in" />
    <meta name="website" content="https://shreethemes.in/" />
    <meta name="Version" content="v4.9.0" />

    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- Css -->
    <link href="libs/simplebar/simplebar.min.css" rel="stylesheet">
    <!-- Bootstrap Css -->
    <link href="css/bootstrap.min.css" class="theme-opt" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link href="css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="libs/%40iconscout/unicons/css/line.css" type="text/css" rel="stylesheet" />
    <!-- Style Css-->
    <link href="css/style.min.css" class="theme-opt" rel="stylesheet" type="text/css" />


</head>

<body>
    <!-- Loader -->
    <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
    <!-- Loader -->

    <div class="page-wrapper toggled">
        <!-- sidebar-wrapper -->
        <%- include('./common/navbar.ejs')%>
            <!-- sidebar-wrapper  -->

            <!-- Start Page Content -->
            <main class="page-content bg-light">
                <!-- Top Header -->
                <div class="top-header">
                    <div class="header-bar d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <a href="#" class="logo-icon me-3">
                                <img src="images/logo-icon.png" height="30" class="small" alt="">
                                <span class="big">
                                    <img src="images/logo-dark.png" height="24" class="logo-light-mode" alt="">
                                    <img src="images/logo-light.png" height="24" class="logo-dark-mode" alt="">
                                </span>
                            </a>
                            <a id="close-sidebar" class="btn btn-icon btn-soft-light" href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                            <div class="search-bar p-0 d-none d-md-block ms-2">
                                <div id="search" class="menu-search mb-0">
                                    <form role="search" method="get" id="searchform" class="searchform">
                                        <div>
                                            <input type="text" class="form-control border rounded" name="s" id="s"
                                                placeholder="Search Keywords...">
                                            <input type="submit" id="searchsubmit" value="Search">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item mb-0">
                                <a href="javascript:void(0)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                    aria-controls="offcanvasRight">
                                    <div class="btn btn-icon btn-soft-light"><i class="ti ti-settings"></i></div>
                                </a>
                            </li>

                            <li class="list-inline-item mb-0 ms-1">
                                <div class="dropdown dropdown-primary">
                                    <button type="button" class="btn btn-icon btn-soft-light dropdown-toggle p-0"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                            class="ti ti-bell"></i></button>
                                    <span
                                        class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                        <span class="visually-hidden">New alerts</span>
                                    </span>

                                    <div class="dropdown-menu dd-menu shadow rounded border-0 mt-3 p-0" data-simplebar
                                        style="height: 320px; width: 290px;">
                                        <div
                                            class="d-flex align-items-center justify-content-between p-3 border-bottom">
                                            <h6 class="mb-0 text-dark">Notifications</h6>
                                            <span class="badge bg-soft-danger rounded-pill">3</span>
                                        </div>
                                        <div class="p-3">
                                            <a href="#!" class="dropdown-item features feature-primary key-feature p-0">
                                                <div class="d-flex align-items-center">
                                                    <div class="icon text-center rounded-circle me-2">
                                                        <i class="ti ti-shopping-cart"></i>
                                                    </div>
                                                    <div class="flex-1">
                                                        <h6 class="mb-0 text-dark title">Order Complete</h6>
                                                        <small class="text-muted">15 min ago</small>
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="#!"
                                                class="dropdown-item features feature-primary key-feature p-0 mt-3">
                                                <div class="d-flex align-items-center">
                                                    <img src="images/client/04.jpg"
                                                        class="avatar avatar-md-sm rounded-circle border shadow me-2"
                                                        alt="">
                                                    <div class="flex-1">
                                                        <h6 class="mb-0 text-dark title"><span
                                                                class="fw-bold">Message</span> from Luis</h6>
                                                        <small class="text-muted">1 hour ago</small>
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="#!"
                                                class="dropdown-item features feature-primary key-feature p-0 mt-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="icon text-center rounded-circle me-2">
                                                        <i class="ti ti-currency-dollar"></i>
                                                    </div>
                                                    <div class="flex-1">
                                                        <h6 class="mb-0 text-dark title"><span class="fw-bold">One
                                                                Refund
                                                                Request</span></h6>
                                                        <small class="text-muted">2 hour ago</small>
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="#!"
                                                class="dropdown-item features feature-primary key-feature p-0 mt-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="icon text-center rounded-circle me-2">
                                                        <i class="ti ti-truck-delivery"></i>
                                                    </div>
                                                    <div class="flex-1">
                                                        <h6 class="mb-0 text-dark title">Deliverd your Order</h6>
                                                        <small class="text-muted">Yesterday</small>
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="#!"
                                                class="dropdown-item features feature-primary key-feature p-0 mt-3">
                                                <div class="d-flex align-items-center">
                                                    <img src="images/client/15.jpg"
                                                        class="avatar avatar-md-sm rounded-circle border shadow me-2"
                                                        alt="">
                                                    <div class="flex-1">
                                                        <h6 class="mb-0 text-dark title"><span
                                                                class="fw-bold">Cally</span>
                                                            started following you</h6>
                                                        <small class="text-muted">2 days ago</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="list-inline-item mb-0 ms-1">
                                <div class="dropdown dropdown-primary">
                                    <button type="button" class="btn btn-soft-light dropdown-toggle p-0"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                            src="images/client/05.jpg" class="avatar avatar-ex-small rounded"
                                            alt=""></button>
                                    <div class="dropdown-menu dd-menu dropdown-menu-end shadow border-0 mt-3 py-3"
                                        style="min-width: 200px;">
                                        <a class="dropdown-item d-flex align-items-center text-dark pb-3"
                                            href="profile.html">
                                            <img src="images/client/05.jpg"
                                                class="avatar avatar-md-sm rounded-circle border shadow" alt="">
                                            <div class="flex-1 ms-2">
                                                <span class="d-block">Cristina Julia</span>
                                                <small class="text-muted">UI / UX Designer</small>
                                            </div>
                                        </a>
                                        <a class="dropdown-item text-dark" href="index.html"><span
                                                class="mb-0 d-inline-block me-1"><i class="ti ti-home"></i></span>
                                            Dashboard</a>
                                        <a class="dropdown-item text-dark" href="profile.html"><span
                                                class="mb-0 d-inline-block me-1"><i class="ti ti-settings"></i></span>
                                            Profile</a>
                                        <a class="dropdown-item text-dark" href="email.html"><span
                                                class="mb-0 d-inline-block me-1"><i class="ti ti-mail"></i></span>
                                            Email</a>
                                        <div class="dropdown-divider border-top"></div>
                                        <a class="dropdown-item text-dark" href="lock-screen.html"><span
                                                class="mb-0 d-inline-block me-1"><i class="ti ti-lock"></i></span>
                                            Lockscreen</a>
                                        <a class="dropdown-item text-dark" href="login.html"><span
                                                class="mb-0 d-inline-block me-1"><i class="ti ti-logout"></i></span>
                                            Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Top Header -->

                <div class="container-fluid">
                    <div class="layout-specing">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="text-muted mb-1">Welcome back, Cristina!</h6>
                                <h5 class="mb-0">Dashboard</h5>
                            </div>

                            <div class="mb-0 position-relative">
                                <select class="form-select form-control" id="dailychart">
                                    <option selected="">This Month</option>
                                    <option value="aug">August</option>
                                    <option value="jul">July</option>
                                    <option value="jun">June</option>
                                </select>
                            </div>
                        </div>

                        <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1">
                            <div class="col mt-4">
                                <a href="#!"
                                    class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-pill">
                                            <i class="uil uil-user-circle fs-4 mb-0"></i>
                                        </div>
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-0 text-muted">Visitor</h6>
                                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value"
                                                    data-target="4589">2100</span></p>
                                        </div>
                                    </div>

                                    <span class="text-danger"><i class="uil uil-chart-down"></i> 0.5%</span>
                                </a>
                            </div><!--end col-->

                            <div class="col mt-4">
                                <a href="#!"
                                    class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-pill">
                                            <i class="uil uil-usd-circle fs-4 mb-0"></i>
                                        </div>
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-0 text-muted">Revenue</h6>
                                            <p class="fs-5 text-dark fw-bold mb-0">$<span class="counter-value"
                                                    data-target="48575">35214</span></p>
                                        </div>
                                    </div>

                                    <span class="text-success"><i class="uil uil-arrow-growth"></i> 3.84%</span>
                                </a>
                            </div><!--end col-->

                            <div class="col mt-4">
                                <a href="#!"
                                    class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-pill">
                                            <i class="uil uil-shopping-bag fs-4 mb-0"></i>
                                        </div>
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-0 text-muted">Orders</h6>
                                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value"
                                                    data-target="4800">3402</span></p>
                                        </div>
                                    </div>

                                    <span class="text-success"><i class="uil uil-arrow-growth"></i> 1.46%</span>
                                </a>
                            </div><!--end col-->
                        </div><!--end row-->

                        <div class="container mt-5">
                            <h2 class="mb-4 text-center">Website Management</h2>
                            <div class="table-responsive">
                                <table class="table table-white table-bordered align-middle shadow-sm">
                                    <thead class="bg-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Contact no.</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% websites.forEach((website, index)=> { %>
                                            <tr>
                                                <td>
                                                    <%= index + 1 %>
                                                </td>
                                                <td>
                                                    <%= website.name %>
                                                </td>
                                                <td>
                                                    <%= website.home?.navbar?.contact?.number %>
                                                </td>
                                                <td class="text-center">
                                                    <a href="/pg/<%= website._id %>"
                                                        class="btn btn-primary btn-sm me-2 toggle-btn">View</a>
                                                    <a href="#" onclick="deleteWebsite('<%= website._id %>')"
                                                        class="btn btn-danger btn-sm me-2 toggle-btn">Delete</a>

                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div><!--end container-->

                <!-- Footer Start -->
                <footer class="shadow py-3">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="text-sm-start text-center mx-md-2">
                                    <p class="mb-0 text-muted">©
                                        <script>document.write(new Date().getFullYear())</script> Landrick. Design with
                                        <i class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in/"
                                            target="_blank" class="text-reset">Shreethemes</a>.
                                    </p>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </footer><!--end footer-->
                <!-- End -->
            </main>
            <!--End page-content" -->
    </div>
    <!-- page-wrapper -->

    <!-- Offcanvas Start -->
    <div class="offcanvas offcanvas-end shadow" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header p-4 border-bottom">
            <h5 id="offcanvasLeftLabel" class="mb-0">
                <img src="images/logo-dark.png" height="24" class="light-version" alt="">
                <img src="images/logo-light.png" height="24" class="dark-version" alt="">
            </h5>
            <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="offcanvas"
                aria-label="Close"><i class="uil uil-times fs-4"></i></button>
        </div>
        <div class="offcanvas-body p-4">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h6 class="fw-bold">Theme Options</h6>

                        <ul class="text-center style-switcher list-unstyled mt-4">
                            <li class="d-grid"><a href="javascript:void(0)" class="rtl-version t-rtl-light"
                                    onclick="setTheme('style-rtl')"><img src="images/demos/rtl.png"
                                        class="img-fluid rounded-md shadow-md d-block mx-auto" style="width: 230px;"
                                        alt=""><span class="text-dark fw-medium mt-3 d-block">RTL Version</span></a>
                            </li>
                            <li class="d-grid"><a href="javascript:void(0)" class="ltr-version t-ltr-light"
                                    onclick="setTheme('style')"><img src="images/demos/ltr.png"
                                        class="img-fluid rounded-md shadow-md d-block mx-auto" style="width: 230px;"
                                        alt=""><span class="text-dark fw-medium mt-3 d-block">LTR Version</span></a>
                            </li>
                            <li class="d-grid"><a href="javascript:void(0)" class="dark-rtl-version t-rtl-dark"
                                    onclick="setTheme('style-dark-rtl')"><img src="images/demos/dark-rtl.png"
                                        class="img-fluid rounded-md shadow-md d-block mx-auto" style="width: 230px;"
                                        alt=""><span class="text-dark fw-medium mt-3 d-block">RTL Version</span></a>
                            </li>
                            <li class="d-grid"><a href="javascript:void(0)" class="dark-ltr-version t-ltr-dark"
                                    onclick="setTheme('style-dark')"><img src="images/demos/dark.png"
                                        class="img-fluid rounded-md shadow-md d-block mx-auto" style="width: 230px;"
                                        alt=""><span class="text-dark fw-medium mt-3 d-block">LTR Version</span></a>
                            </li>
                            <li class="d-grid"><a href="javascript:void(0)" class="dark-version t-dark mt-4"
                                    onclick="setTheme('style-dark')"><img src="images/demos/dark.png"
                                        class="img-fluid rounded-md shadow-md d-block mx-auto" style="width: 230px;"
                                        alt=""><span class="text-dark fw-medium mt-3 d-block">Dark Version</span></a>
                            </li>
                            <li class="d-grid"><a href="javascript:void(0)" class="light-version t-light mt-4"
                                    onclick="setTheme('style')"><img src="images/demos/ltr.png"
                                        class="img-fluid rounded-md shadow-md d-block mx-auto" style="width: 230px;"
                                        alt=""><span class="text-dark fw-medium mt-3 d-block">Light Version</span></a>
                            </li>
                            <li class="d-grid"><a href="https://shreethemes.in/landrick/landing/index.html"
                                    target="_blank" class="mt-4"><img src="images/demos/landing.png"
                                        class="img-fluid rounded-md shadow-md d-block mx-auto" style="width: 230px;"
                                        alt=""><span class="text-dark fw-medium mt-3 d-block">Landing</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="offcanvas-footer p-4 border-top text-center">
            <ul class="list-unstyled social-icon social mb-0">
                <li class="list-inline-item mb-0"><a href="https://1.envato.market/landrick" target="_blank"
                        class="rounded"><i class="uil uil-shopping-cart align-middle" title="Buy Now"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://dribbble.com/shreethemes" target="_blank"
                        class="rounded"><i class="uil uil-dribbble align-middle" title="dribbble"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://www.behance.net/shreethemes" target="_blank"
                        class="rounded"><i class="uil uil-behance align-middle" title="behance"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://www.facebook.com/shreethemes" target="_blank"
                        class="rounded"><i class="uil uil-facebook-f align-middle" title="facebook"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://www.instagram.com/shreethemes/" target="_blank"
                        class="rounded"><i class="uil uil-instagram align-middle" title="instagram"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://twitter.com/shreethemes" target="_blank"
                        class="rounded"><i class="uil uil-twitter align-middle" title="twitter"></i></a></li>
                <li class="list-inline-item mb-0"><a href="mailto:support@shreethemes.in" class="rounded"><i
                            class="uil uil-envelope align-middle" title="email"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://shreethemes.in/" target="_blank" class="rounded"><i
                            class="uil uil-globe align-middle" title="website"></i></a></li>
            </ul><!--end icon-->
        </div>
    </div>
    <!-- Offcanvas End -->

    <!-- javascript -->
    <!-- JAVASCRIPT -->
    <script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="libs/feather-icons/feather.min.js"></script>
    <script src="libs/simplebar/simplebar.min.js"></script>
    <script src="libs/apexcharts/apexcharts.min.js"></script>
    <!-- Main Js -->
    <script src="js/plugins.init.js"></script>
    <script src="js/app.js"></script>
</body>

</html>