<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from pginbangalore.com/ABCPG/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 03 Mar 2025 04:16:31 GMT -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>websole</title>
  <link rel="icon" href="abcPgs/img/heading-img.png">
  <!-- CSS only -->
  <link rel="stylesheet" type="text/css" href="abcPgs/css/bootstrap.min.css">
  <link rel="stylesheet" href="abcPgs/css/owl.carousel.min.css">
  <link rel="stylesheet" href="abcPgs/css/owl.theme.default.min.css">
  <!-- fancybox -->
  <link rel="stylesheet" href="abcPgs/css/jquery.fancybox.min.css">
  <!-- Font Awesome 6 -->
  <link rel="stylesheet" href="abcPgs/css/fontawesome.min.css">
  <link rel="stylesheet" href="abcPgs/font/flaticon_mycollection.css">
  <!-- style -->
  <link rel="stylesheet" href="abcPgs/css/style.css">
  <!-- responsive -->
  <link rel="stylesheet" href="abcPgs/css/responsive.css">

  <style>
    .marquee-content img {
      height: 8rem;
      width: auto;
    }
  </style>
</head>

<body>
  <!-- preloader -->
  <div class="preloader" style="background-color: <%= website?.websiteThemeColor %>;">
    <div class="loading-text">
      <span>L</span>
      <span>O</span>
      <span>A</span>
      <span>D</span>
      <span>I</span>
      <span>N</span>
      <span>G</span>
    </div>
  </div>


  <!-- preloader end -->
  <!-- header -->
  <header id="stickyHeader">
    <div class="container">
      <div class="top-bar">
        <div class="logo">
          <a href="#">
            <h4 class="text-white">
              <%= website.home.navbar.brandName %>
            </h4 class="text-white">
          </a>
        </div>
        <nav class="navbar">
          <ul class="navbar-links">
            <li class="navbar-dropdown menu-item-children">
              <a href="#">Demo Pages</a>
              <ul class="sub-menu">
                <li><a href="index-2.html">Demo 1</a></li>
                <li><a href="index-3.html">Demo 2</a></li>
                <li><a href="index-4.html">Demo 3</a></li>
                <li><a href="index-5.html">Demo 4</a></li>
              </ul>
            </li>
            <li class="navbar-dropdown">
              <a href="#about"> About </a>
            </li>
            <li class="navbar-dropdown">
              <a href="#services">Services</a>
            </li>
            <li class="navbar-dropdown">
              <a href="#team">Team</a>
            </li>
            <li class="navbar-dropdown">
              <a href="#pricing">Pricing</a>
            </li>
            <li class="navbar-dropdown">
              <a href="#blog">blog</a>
            </li>
          </ul>
        </nav>
        <a href="<%= website?.home?.navbar?.contact.link %>"><i class="flaticon-smart-phone"></i><b>
            <%= website?.home?.navbar?.contact.number %>
          </b></a>
      </div>
    </div>
  </header>
  <!-- header end -->
  <section class="hero-section for no-bottom"
    style="background-color: <%=website?.websiteThemeColor %>; padding-bottom: 9rem;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="hero-text sec-title-animation animation-style2">

            <h2 class="title-animation text-white">
              <%= website.home.content.heading %>
            </h2>
            <div class="d-flex listing">
              <p class="text-white">
                <%= website.home.content.subheading %>
              </p>
            </div>
          </div>
          <a href="<%= website.home.content.buttonLink %>" class="button btn"><span><span>
                <%= website.home.content.buttonText %>
              </span></span></a>
        </div>
        <!-- <div class="col-lg-12">
          <div class="video-fram">
            <div class="hs-responsive-embed-youtube">
              <iframe width="853" height="480" src="https://www.youtube.com/embed/3ThSqm6MOyo"
                title="How To Get Unlimited Graphic Design Work For a Low Monthly Cost" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <ul class="shaps-img">
      <li><img src="abcPgs/img/shaps-4.png" alt="img"></li>
      <li><img src="abcPgs/img/shaps-4.png" alt="img"></li>
      <li><img src="abcPgs/img/shaps-1.png" alt="img"></li>
      <li><img src="abcPgs/img/shaps-2.png" alt="img"></li>
      <li><img src="abcPgs/img/shaps-3.png" alt="img"></li>
    </ul>
  </section>
  <div class="gap">
    <div class="container">
      <div class="heading sec-title-animation animation-style2">
        <img alt="img" src="abcPgs/img/heading-img.png">
        <h5 class="title-animation">Amenities We Offer</h5>
      </div>
      <div class="marquee mt-4">
        <div class="marquee-icon">
          <div class="marquee-content">
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/appliance_1198306.png" alt="img">
            </div>
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/chef-hat.png" alt="img">
            </div>
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/wifi.svg" alt="img">
            </div>

            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/electrical-energy.png" alt="img">
            </div>
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/flexible-contracts.svg" alt="img">
            </div>
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/food.png" alt="img">
            </div>
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/mop_7842219.png" alt="img">
            </div>
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/sofa.svg" alt="img">
            </div>
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/wrench-and-screwdriver.svg" alt="img">
            </div>

          </div>
          <div class="marquee-content">
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/appliance_1198306.png" alt="img">
            </div>
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/chef-hat.png" alt="img">
            </div>
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/wifi.svg" alt="img">
            </div>

            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/electrical-energy.png" alt="img">
            </div>
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/flexible-contracts.svg" alt="img">
            </div>
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/food.png" alt="img">
            </div>
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/mop_7842219.png" alt="img">
            </div>
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/sofa.svg" alt="img">
            </div>
            <div class="marquee-item">
              <img src="abcPgs/img/amenities-icons/wrench-and-screwdriver.svg" alt="img">
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <hr>
  <section id="about" class="gap">
    <div class="container">
      <div class="heading sec-title-animation animation-style2">
        <span class="title-animation" style="background-color: <%= website?.websiteThemeColor %>;">
          <%= website.about.title %>
        </span>
        <h2 class="title-animation">
          <%= website.about.heading %>
        </h2>
      </div>
      <!-- <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="presenting d-flex">
            <div class="img-div">
              <img src="abcPgs/img/premium.png" alt="">
            </div>
            <div>
              <h3>Premium Accommodations</h3>
              <p>Spacious, well-furnished rooms with attached washrooms.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="presenting d-flex">
            <div class="img-div">
              <img src="abcPgs/img/premium.png" alt="">
            </div>
            <div>
              <h3>Premium Accommodations</h3>
              <p>Spacious, well-furnished rooms with attached washrooms.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="presenting d-flex">
            <div class="img-div">
              <img src="abcPgs/img/premium.png" alt="">
            </div>
            <div>
              <h3>Premium Accommodations</h3>
              <p>Spacious, well-furnished rooms with attached washrooms.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="presenting d-flex">
            <div class="img-div">
              <img src="abcPgs/img/premium.png" alt="">
            </div>
            <div>
              <h3>Premium Accommodations</h3>
              <p>Spacious, well-furnished rooms with attached washrooms.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="presenting d-flex">
            <div class="img-div">
              <img src="abcPgs/img/premium.png" alt="">
            </div>
            <div>
              <h3>Premium Accommodations</h3>
              <p>Spacious, well-furnished rooms with attached washrooms.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="presenting d-flex">
            <div class="img-div">
              <img src="abcPgs/img/premium.png" alt="">
            </div>
            <div>
              <h3>Premium Accommodations</h3>
              <p>Spacious, well-furnished rooms with attached washrooms.</p>
            </div>
          </div>
        </div>
      </div> -->


      <div class="row">
        <% website?.about?.features.forEach((feature)=> { %>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="presenting d-flex">
              <div class="img-div" style="background-color:<%= website.websiteThemeColor %> ; outline-color: <%= website.websiteThemeColor %>;">
                <img src="https://pginbangalore.com/ABCPG/assets/img/premium.png" alt="">
              </div>
              <div>
                <h3>
                  <%= feature?.title %>
                </h3>
                <p>
                  <%= feature?.description %>
                </p>
              </div>
            </div>
          </div>
          <% }); %>
      </div>
    </div>
  </section>
  <section id="services" class="gap how-it-works" style="background-image: url(uploads/<%= website?.service?.backgroundImage %>);">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="heading two sec-title-animation animation-style2">
            <span class="title-animation" style="background-color: <%= website?.websiteThemeColor %>;">
              <%= website?.service?.title %>
            </span>
            <h2 class="title-animation">
              <%= website.service.heading %>
            </h2>
            <p>E<%= website.service.description %>
            </p>
          </div>
          <ul class="chek">
            <% website.service.features.forEach((feature)=> { %>
            <li><img src="abcPgs/img/chek.png" alt="img"> <%= feature%></li>
            <% }) %>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-6">
              <div class="how-do-stap">
                <span style="background-color: <%= website.websiteThemeColor%>;">1</span>
                <i class="flaticon-mail"></i>
                <h4>Book a Visit <br> Call Now +91XXXXXXXXXX</h4>
              </div>
              <div class="how-do-stap two" style="background-color: <%= website.websiteThemeColor%>;">
                <span>2</span>
                <i class="flaticon-team-building"></i>
                <h4>Get a Personalized Tour and best Recommnedations </h4>
              </div>
            </div>
            <div class="col-md-6">
              <div class="how-do-stap three">
                <span style="background-color: <%= website.websiteThemeColor%>;" >3</span>
                <i class="flaticon-security"></i>
                <h4>Limited Slots Available – Secure Your Spot Now! </h4>
              </div>
              <div class="video">
                <img src="uploads/<%= website?.service?.video.thumbnail %>" alt="img">
                <a class="video-pop" data-fancybox="" href="uploads/<%=website?.service?.video.url %>"><i
                    class="fa-solid fa-play"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="gap accordion-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="heading two sec-title-animation animation-style2">
            <span class="title-animation">frequently asked questions</span>
            <h2 class="title-animation">Got questions? We’ve got answers.</h2>
          </div>
          <div class="accordion">
            <div class="accordion-item">
              <a href="#" class="heading">
                <div class="icon"></div>
                <div class="title">How can a business benefit from using a consultant?</div>
              </a>

              <div class="content">
                <p>Carpal tunnel syndrome is the collection of symptoms and signs associated with nerve compression of
                  the median nerve at the carpal tunnel.</p>
              </div>
            </div>
            <div class="accordion-item active">
              <a href="#" class="heading">
                <div class="icon"></div>
                <div class="title">Will I learn how to code websites as well?</div>
              </a>

              <div class="content" style="display: block;">
                <p>Carpal tunnel syndrome is the collection of symptoms and signs associated with nerve compression of
                  the median nerve at the carpal tunnel.</p>
              </div>
            </div>
            <div class="accordion-item">
              <a href="#" class="heading">
                <div class="icon"></div>
                <div class="title">Why choose business consulting?</div>
              </a>

              <div class="content">
                <p>Carpal tunnel syndrome is the collection of symptoms and signs associated with nerve compression of
                  the median nerve at the carpal tunnel.</p>
              </div>
            </div>
            <div class="accordion-item">
              <a href="#" class="heading">
                <div class="icon"></div>
                <div class="title">Understand and analyze the information?</div>
              </a>
              <div class="content">
                <p>Carpal tunnel syndrome is the collection of symptoms and signs associated with nerve compression of
                  the median nerve at the carpal tunnel.</p>
              </div>
            </div>
            <div class="accordion-item">
              <a href="#" class="heading">
                <div class="icon"></div>
                <div class="title">What is the value of business consulting? </div>
              </a>

              <div class="content">
                <p>Carpal tunnel syndrome is the collection of symptoms and signs associated with nerve compression of
                  the median nerve at the carpal tunnel.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="accordion-contact">
            <h4>Phone No: <a href="callto:+1238717662">+1 23871 7662</a></h4>
            <h4>Email Id: <a href="mailto:info@domainname.com">info@domainname.com</a></h4>
            <a href="#" class="button btn"><span><span>Contact Us</span></span></a>
          </div>
          <div class="accordion-img">
            <img src="abcPgs/img/accordion.jpg" alt="img">
          </div>
        </div>
      </div>
    </div>
    <ul class="shaps-img">
      <li><img src="abcPgs/img/shaps-3.png" alt="img"></li>
    </ul>
  </section> -->

  <section id="pricing" class="gap no-top mt-3">
    <div class="container">
      <div class="heading sec-title-animation animation-style2">
        <span class="title-animation"style="background-color: <%= website?.websiteThemeColor %>;"><%= website.pricing.title %> </span>
        <h2 class="title-animation"><%= website.pricing.heading %>
        </h2>
        <p class=" d-flex mt-3 "><%= website.pricing.subHeading%></p>
      </div>
      <div class="row">
        <% website.pricing?.pricingPlansArray.forEach((plan)=>{%>
        <div class="col-lg-4 col-md-6">
          <div class="pricing">
            <div class="pricing-plans">
              <span><%= plan.title %></span>
              <h5><%= plan?.price?.currency %><%= plan?.price?.value %> <sub>/ <%= plan?.price?.duration %></sub></h5>
            </div>
            <div class="pricing-plans-text">
              <i class="flaticon-price-tag" style="background-color: <%= website?.websiteThemeColor %>;"></i>
              <p>Privacy, focus, and inspiration </p>
              <ul class="chek">
                <% plan.features.forEach((plan)=>{%>
                <li><img src="abcPgs/img/chek.png" alt="img"> <%= plan%> </li>
                <%})%>
              </ul>
              <a href="#" class="button btn"><span><span>Talk Now</span></span></a>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </div>
  </section>



  <footer class="gap no-bottom" style="background-color: <%= website?.websiteThemeColor %>;">
    <div class="container">
      <div class="footer-try">
        <div>
          <h2><%= website.footer.heading%></h2>
          <p><%= website.footer.subHeading%></p>

        </div>
        <a href="#" class="button btn"><span><span>Whatsapp Now</span></span></a>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-logo">
            <h3 class="text-white" style="font-weight: 700;"><%= website.home.navbar.brandName %></h3>
            <p><%= website.footer.address%></p>
            <ul class="social-media">
              <li><a href="<%= website.footer?.socials?.facebook%>"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="<%= website.footer?.socials?.x%>"><i class="flaticon-twitter"></i></a></li>
              <li><a href="<%= website.footer?.socials?.instagram%>"><i class="flaticon-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="widget-title" style="display: flex; flex-direction: column; gap: 3px;">
            <h3>Useful Links</h3>
            <ul>
              <li><i class="fa-solid fa-angles-right"></i><a href="about.html">About Us</a></li>
              <li><i class="fa-solid fa-angles-right"></i><a href="#">Timeline </a></li>
              <li><i class="fa-solid fa-angles-right"></i><a href="#">Image Gallery </a></li>
              <li><i class="fa-solid fa-angles-right"></i><a href="contact.html">Contact Us</a></li>
              <li><i class="fa-solid fa-angles-right"></i><a href="faq.html">Faq’s</a></li>

            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="widget-title">
            <h3>Contact Us</h3>
            <div class="get-in-touch">
              <div><i class="flaticon-iphone"></i></div>
              <div>
                <span>Phone No:</span>
                <h6><a href="callto:+15554361747">+91 <%= website.footer.phoneNumber%></a></h6>
                <h6><a href="callto:+15554361747">+91 <%= website.footer.phoneNumber%></a></h6>
              </div>
            </div>
            <div class="get-in-touch">
              <div><i class="flaticon-mail-inbox-app"></i></div>
              <div>
                <span>Email Address:</span>
                <h6><a href="mailto:business@domain.com"><%= website.footer.email%></a></h6>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="all-rights">
        <p>© 2025 ABC. All Rights Reserved.</p>

      </div>
    </div>
    <ul class="shaps-img">
      <li><img src="abcPgs/img/shaps-4.png" alt="img"></li>
      <li><img src="abcPgs/img/shaps-1.png" alt="img"></li>
      <li><img src="abcPgs/img/shaps-2.png" alt="img"></li>
    </ul>
  </footer>
  <div id="scroll-percentage"><span id="scroll-percentage-value"></span></div>
  <!-- jQuery -->
  <script src="abcPgs/js/jquery-3.6.0.min.js"></script>
  <script src="abcPgs/js/bootstrap.min.js"></script>
  <script src="abcPgs/js/jquery.fancybox.min.js"></script>
  <script src="abcPgs/js/splitText.js"></script>
  <script src="abcPgs/js/gsap.js"></script>
  <script src="abcPgs/js/scrolltrigger.js"></script>
  <script src="abcPgs/js/custom.js"></script>
  <script src="abcPgs/js/sweetalert.min.js"></script>
  <script src="abcPgs/js/contact.js"></script>
</body>